body{
    margin:0;
    font-family: font-family: 'Poppins', sans-serif;
}
/*---------------
top section start
-----------------*/
.top-section{
    background-color: #2D25A0;
}
.container{
    display: flex;
    margin-bottom: 50px;
}
.top-section-left{
    width: 60%;
    margin-left: 10%;
    margin-top: 8%;
}
.top-section-left h1{
    font-size: 50px;
    width: 50%;
    color: #ffffff;   
}
.top-section-right{
    width: 40%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.top-section-right img{
    width: 100%;
}
.top-section-right:hover img{
    transform: scale(1.2);
}
.fa-arrow-right{
    font-size: 12px;
}
.link-button{
    text-decoration: none;
    color: #ffffff;
    padding: 8px 15px;
    background-color: #E02C6D;
}
.link-button:hover {
    background-color: #ffffff;
    color: #e02c6d;
    border-radius: 25px;
}
/*---------------
top section end
-----------------*/

/*-------world top players------*/
.world-top-football-players{
    margin-bottom: 50px;
    width: 850px;
    display: block;
    margin: auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 280px;
    grid-column-gap: 50px;
}
.player{
    height: 380px;
    width: 250px;
    border: 2px solid gray;
    margin-bottom: 25px;
    padding: 20px;
}
.player img{
    width: 250px;
}

/*--------highlights-section---------*/
.highlights{
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}
.highlights-section-left{
    width: 40%;
    margin-left: 10%;
    margin-top: 3%;
}
.highlights-section-left h1{
    font-size: 50px;
    color: #0A0826;
    margin-bottom: 0; 
}
.highlights-section-left p{
    padding-right: 50px;
    margin-bottom: 25px;
}
.highlights-section-right{
    width: 40%;
    margin-right: 10%;
}
.highlights-section-right img{
    width: 100%;
}

/*-------trophei section-------*/
.trophes{
    position: relative;
    margin-bottom: 50px;
}
.trophes h1{
    font-size: 50px;
    text-align: center;
    color: #E02C6D;
}
.photo-album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.photo-frame{
    width: 300px;
    height: 298px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    display: block;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}
.photo-frame:hover .photo{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
.photo-detail{
    width: 300px;
}
.photo-detail h3 {
    text-align: center;
    background-color: black;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*---------footer----------*/
.footer-image img{
    width: 483px;
    height: 110px;
    display: block;margin: auto;
}
.social-icon{
    display:flex;
    list-style: none; 
    justify-content: center;
}
li img{
    height: 26px;
    width: 26px;
    margin-left: 10px;
}
footer p{
    text-align: center;
    font-size: 20px;
}
.fa-copyright{
    font-size: 12px;
}



/*-----Madeia Queries------*/

/*------mobile device------*/
@media only screen and(max-width: 688px) {
    .top-section-right {
        width: 60%;
        margin-right: 0%;
        margin-top: 22%;
        margin-bottom: 25%;
        margin-left: 13%;
    }
    .top-section-left h1 {
        font-size: 36px;
        width: 50%;
        color: #ffffff;
    }
    .top-section-left {
        width: 30%;
        margin-left: 5%;
        margin-top: 8%;
    }
    .link-button {
        text-decoration: none;
        color: #ffffff;
        padding: 4px 10px;
        background-color: #E02C6D;
    }
    .fa-arrow-right {
        font-size: 10px;
    }
    
    .fa, .fas {
        font-weight: 600;
    }
}